// Copy this file to Secrets.xcconfig and fill in the values.

mobileKey = YOUR_MOBILE_KEY_HERE
otlpEndpoint = https:/$()/otel.observability.ld-stg.launchdarkly.com:4318
backendUrl = https:/$()/pub.observability.ld-stg.launchdarkly.com/
