name: Lint PR title

permissions:
    contents: read
    pull-requests: read

on:
    pull_request_target:
        types:
            - opened
            - edited
            - synchronize

jobs:
    lint-pr-title:
        name: Lint PR title
        uses: launchdarkly/gh-actions/.github/workflows/lint-pr-title.yml@main
